.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #334a5c;
  padding: 0;
  margin: 0;
}
.add-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#map {
  width: 80%;
  height: 400px;
}